/* styles.css */
.button {
  display: flex; 
  color: white; 
  font-weight: 500; 
  border: none; 
  padding-top: 0.5rem; 
  padding-bottom: 0.5rem; 
  padding-left: 1rem; 
  padding-right: 1rem; 
  outline: none; 
  font-size: 1.125rem;
  transition: background-color 0.2s ease;
  border-radius: 0.5rem; 
}

.button:hover {
  background-color: #C64FEC;
}
