.pageSection {
    background-color: black;
    color: white;
    margin-top: 5rem; 
    padding-top: 5rem;
    padding-bottom: 5rem; 
  }
  

  .titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  

  .sectionDescription {
    width: 66.67%;
    margin: 0 auto;
    font-size: 1rem; 
    line-height: 1.75; 
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  

  .trainerContainer {
    margin-left: 1rem;  
    margin-right: 1rem; 
  }
  