.trainers-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 6rem;
    margin-bottom: 3rem;
  }
  
  @media (max-width: 768px) {
    .trainers-container {
      margin-top: 4rem;
      margin-bottom: 2rem;
    }
  }
  
  /* Optional: You can add more customization for responsive layout if needed */
  