.navbar {
  color: #ffffff; 
  font-family: 'YourFontFamily', sans-serif; 
  background-color: black; 
  display: none; 
  position: fixed; 
  width: 100%; 
  top: 0; 
  left: 0; 
  z-index: 10; 
}

.container {
  width: 100vw;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem; 
}
 

.logo {
  display: flex;
  align-items: center;
  font-weight: bolder; 
  font-size: 1.5rem;
  color: #C64FEC;
}

.logo-link {
  display: flex; 
  align-items: center; 
  font-weight: 900; 
  font-size: 1.875rem; 
  margin-left: 2rem;
}


.logo-text {
  font-size: 1.875rem;
  color: white;
}

.gym-logo{
  margin-left: 4px;
}
.nav  {
  display: flex; 
  align-items: center;
  font-size: 1rem; 
  justify-content: center; 
}

.nav-link:hover  {
  color: white;
  
  font-size: 1rem;
  font-weight: 500;
  text-decoration: underline;
  transition: color 0.3s;
}

.nav-link:hover  {
  color: #C254DE; 
}


.join-btn {
  margin-left: 1rem;
}

.button-link {
  padding-top: 2px;
  padding-bottom: 2px; 
  margin-left: 2rem; 
  background-color: #000; 
  border-style: none; 
  box-shadow: 0px 2px 6px rgba(198, 79, 236, 1); 
  border: 2px solid #C64FEC;
}

.button-link {
  box-shadow: 0px 2px 6px rgba(198, 79, 236, 1);
}

@media (min-width: 768px) { 
  .navbar {
    display: flex;
  }
}



@media (min-width: 768px) { 
  .nav {
    margin-left: auto; 
    margin-top: 0; 
  }
}

@media (min-width: 1024px) { 
  .nav {
    gap: 2rem; 
  }
}