.navlink {
  font-size: 1.125rem; 
  font-weight: 500; 
  border-radius: 0.5rem; 
  padding: 0.25rem 0.75rem; 
  transition-duration: 300ms; 
}

.navlink:hover {
  outline: none;
  box-shadow: 0 0 0 2px var(#c64fec);
  text-decoration: underline;
  color: #c64fec;
  text-decoration: underline;
}