.services-section {
  background-color: #0C0A09; 
  color: white;
  font-family: Arial, sans-serif;
  padding: 6rem 0;
}
.services-container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.services-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 7rem;
}
@media (max-width: 768px) {
  .services-section {
    padding: 4rem 0; 
  }

  .services-grid {
    gap: 1rem; 
    margin-top: 4rem; 
  }
}
@media (max-width: 1024px) {
  .services-container {
    width: 85%;
  }
  .services-grid {
    gap: 1.25rem; 
    margin-top: 5rem; 
  }
}
@media (min-width: 1025px) {
  .services-container {
    width: 90%; 
  }
  .services-grid {
    gap: 1.5rem; 
    margin-top: 7rem; 
  }
}