:root {
  --primary: #C64FEC;
}

.about-container {
  display: flex;
  gap: 50px; 
  padding-left: 6rem;  
  padding-right: 6rem; 
  padding-top: 6rem;   
  padding-bottom: 6rem; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
}

@media (min-width: 768px) {
  .about-container {
    flex-direction: row; 
  }
}

.image-container {
  flex-shrink: 0; 
  position: relative;
  width: 520px;
  height: 460px;
}

.about-image {
  object-fit: cover; 
  object-position: center; 
  border-radius: 8px; 
  box-shadow: 0px 2px 6px rgba(198, 79, 236, 1);
  border: 2px solid #C64FEC;
  transition: transform 0.3s; 
}

.about-title {
  font-size: 4rem; 
  font-weight: 900;
  color: #ffffff; 
}

.light {
  color: #C64FEC;
}

.about-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 24px;
  line-height: 1.75;
}

@media (min-width: 768px) {
  .about-description {
    align-items: flex-start;
    text-align: left;
  }
}

.text-container {
  flex-grow: 1;
  width: 50%;
  text-align: center;
}

@media (min-width: 768px) {
  .text-container {
    text-align: left;
    padding-left: 48px;
  }
}

.cta-button {
  display: inline-flex;
  font-size: 1.125rem; 
  font-weight: 500;
  color: #ffffff; 
  margin-top: 2.5rem; 
  border: none; 
  padding: 0.5rem 1.5rem; 
  background-color: #000000; 
  box-shadow: 0px 4px 6px rgba(198, 79, 236, 1);
  border: 2px solid #C64FEC;
  outline: none; 
  border-radius: 0.5rem; 
  transition: transform 0.3s ease; 
}

.cta-button:hover {
  transform: scale(1.05); 
}

.cta-button:focus-visible {
  outline: none;
}


@media (max-width: 640px) {
  .about-container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    gap: 20px; 
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .about-image {
    width: 100%;
    max-width: 270px; 
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    object-position: center;
  }

  .about-title {
    font-size: 2.5rem;
    text-align: center;
  }

  .about-description {
    font-size: 0.875rem;
    margin-top: 16px;
    line-height: 1.5;
  }

  .cta-button {
    font-size: 1rem;
    padding: 0.4rem 1rem;
  }
}
