.hero-section {
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: #fff;
  padding-top: 24px;
  font-family: Arial, sans-serif;
}

.hero-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  padding: 20px;
  padding-top: 96px;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .hero-container {
    flex-direction: row;
  }
}

.hero-content {
  flex-grow: 1;
  max-width: 50%;
  margin-top: 80px;
  padding-left: 16px;
  text-align: center;
}

@media (min-width: 1024px) {
  .hero-content {
    margin-top: 112px;
    text-align: left;
  }
}

.hero-title {
  font-size: 48px;
  font-weight: bold;
}

@media (min-width: 640px) {
  .hero-title {
    font-size: 64px;
  }
}

.hero-highlight {
  color: #c64fec; 
}


.hero-description {
  font-weight: 500;
  margin-top: 16px;
  line-height: 1.6;
}

.hero-button-link {
  margin-left: 16px;
}

.hero-button {
  align-items: center;
  margin-top: 16px;
  background-color: #c64fec; 
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  transition: background-color 0.3s;
}

.hero-button:hover {
  background-color: #C254DE; 
}